.idea/
.idea-backup/
.vscode/
.cmake/
cmake-build-debug/
CMakeFiles/
Testing/
build/
_deps/
_saves/
CMakeCache.txt
.DS_Store
crpgengine.cbp
Makefile
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
user_config.yaml
*.profraw
